.auto-contaienr
  width: 163px
  position: absolute
  padding: 0
  margin: 0
  .text
    &:focus + .search-result
      display: block

  .search-result
    background-color: #f7e8e8
    border: 1px solid #F7E81B
    position: relative
    // display: none
    .item
      &:hover
        color: #fff
        background-color: #d0caca
        cursor: pointer
