<div class="auto-contaienr">
  <input type="text" class="text" placeholder="searcch" [value]="selectedItem" (keyup)="doSearch($event)">
  <div class="search-result">
    <ul>
      <li class="item" *ngFor="let item of filtered" (click)="selectItem(item)">{{item}}</li>
    </ul>
  </div>
</div>
